<div class="first-index-container">
	<div class="container">
		<div style="margin-top: 140px; height: 90px"> 
			<div class="header-h1">Propel Your Career to <br> the Next Level</div><br>
		</div>
		<div style="margin-top: 40px; height: 90px">
			<div class="header-h2">[Name] is the Leading Job Marketplace for Emerging<br>Finance Professionals</div>
		</div>
		<div class='col-lg-30 col-md-30 col-sm-30'>
			<div style="float:left; margin-right:30px">
				<%= link_to "Apply - It's Free", new_user_registration_path, class: "btn btn-huge btn-success" %> 
			</div>
				<%= link_to "Sign In", new_user_session_path, class: "btn btn-huge-two btn-default" %> 
		</div>
		<div style="float:left; margin-bottom:90px; margin-right: 105px">
			<br>
			<p>Investment Banking</p>
			<p>Hedge Funds</p>
		</div>
		<div class='col-lg-20 col-md-20 col-sm-20'>
			<br>
			<p>Private Equity & Venture Capital</p>
			<p>Corporate Development</p>
		</div>
	</div>
</div>

<div class="second-index-container">
	<div class="container">
		<div class="row">
	        <div class="col-lg-4">	
	        	<h1><span class="glyphicon glyphicon-ok-sign"></h1></span>
	         	<div class="header-h3">Members Only Benefits</div>
	         	<p>Our dedicated talent advocates will help craft your story and work with you from sign-up to offer signing.</p>

	        </div>
	        <div class="col-lg-4">
	       		<h1><span class="glyphicon glyphicon-search"></h1></span>
	          	<div class="header-h3">Personalized Search</div>
	          	<p>We help you find the right home from our network of the most prestigous employers in finance.</p>
	    	</div>
	    	<div class="col-lg-4">
	         	<h1><span class="glyphicon glyphicon-send"></h1></span>
	         	<div class="header-h3">An Easier Job Search</div>
	         	<p>No more mass emailing or endlessly searching job boards. Top employers are waiting to meet you today.</p>
	    	</div>
		</div>
	</div>
</div>

<div class="third-index-container">
	<div class="container">
		<div style="margin-top: 30px">
			<center><%= image_tag("macbook.png") %></center>
		</div>
		<div class="header-h4" style="margin-bottom:10px">
		<center><span class="glyphicon glyphicon-remove-sign">&nbsp;Your profile is hidden from current and past employers.</span></center>
		</div>
	</div>
</div>

<div class="fourth-index-container">
	<div class='container'>
		<div class='row'>
			<div class='col-lg-3 col-md-3 col-sm-3'>
				<h2 class='page-header normal-case'>Get Approved</h2>
					<p>Apply to be included in our marketplace.</p>
			</div>
			<div class='col-lg-3 col-md-3 col-sm-3'>
				<h2 class='page-header normal-case'>Get Offers</h2>
					<p>Receive offers with info about the company, role, and compensation.</p>
			</div>
			<div class='col-lg-3 col-md-3 col-sm-3'>
				<h2 class='page-header normal-case'>Interview</h2>
					<p>Choose which employers you want to interview with.</p>
			</div>
			<div class='col-lg-3 col-md-3 col-sm-3'>
				<h2 class='page-header normal-case'>Find Your Home</h2>
					<p>Accept and start your next journey!</p>
			</div>
		</div>
	<div class='row flush hidden-xs'>
		<div class='col-lg-12'>
			<img alt="How-it-works-progression" src="https://dmrxx81gnj0ct.cloudfront.net/assets/homepage/how-it-works-progression-acde1970c563cd4432e47bec6baf6701.png" />
		</div>
	</div>
	</div>
</div>

<div class="fifth-index-container">
	<div class='container'>
		<div class='row flush'>
			<div class='col-lg-offset-2 col-lg-10 col-md-offset-2 col-md-10 col-sm-offset-2 col-sm-10'>
				<h2 class='talent-advocate-headline page-header'>Your personal talent advocate helps you each step of the way</h2>
			</div>
		<div class='col-lg-2 col-md-2 col-sm-2 trent-container'>
<%=image_tag("Ryan.png") %>
<div class='trent-name'>
<h4>Ryan Aprill</h4>
<h5>Talent Advocate</h5>
</div>
</div>
<div class='col-lg-2 col-md-2 col-sm-2'>
<p>
<b>We help you&hellip;</b>
</p>
</div>
<div class='role col-lg-2 col-md-2 col-sm-2'>
<p>improve your profile to help tell your story</p>
</div>
<div class='role col-lg-2 col-md-2 col-sm-2'>
<p>prepare for interviews and call you an Uber</p>
</div>
<div class='role col-lg-2 col-md-2 col-sm-2'>
<p>understand the market and negotiate your offer</p>
</div>
<div class='role col-lg-2 col-md-2 col-sm-2'>
<p>write your resignation letter and book movers</p>
</div>
</div>
</div>
</div>

<div class="sixth-index-container">
	<div class="container">
		<div class='col-lg-8 col-md-8 col-sm-8'>
			<div class="header-h1" style="margin-top: 100px; margin-bottom:100px">Take your career to the next level,<br>create your profile now</div>
			</div>
			<div class='col-lg-3 col-md-3 col-sm-3' style="margin-top:105px; margin-bottom:100px">
				<button type="button" class="btn btn-success btn-huge-three">Apply</button> 
			</div>
		</div>
	</div>
</div>

<div class="seventh-index-container">
	<div class="container">
		<div style="margin-top: 50px">
			<div class='col-lg-2 col-md-2 col-sm-2'>
				<div class='pull-right'>
					<%=image_tag("Ryan.png") %>
				</div>
			</div>
		</div>
		
		<div style="margin-top: 40px">
			<div class='col-lg-9 col-md-9 col-sm-9'>
				<h2>"At the end of the week I had 8 offers, I was slightly overwhelmed but that was clearly the position I wanted to be in! It was just amazing. Great experience."</h2>
			</div>
		</div>
			<div style="margin-bottom: 300px">
				<div class='col-lg-9 col-md-9 col-sm-9'>
					<h4><b>Ryan Aprill, Investment Banker</b>
					<br>Houlihan Lokey, Chicago</h4>
				</div>
			</div>
		</div>
	</div>
</div> 
